nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: "Pretendard", sans-serif;
    padding: 14px 0;
}

.header-box {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 68px;
}

.search-extend {
    display: none;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-icon-buttons {
    display: none;
}

.nav-buttons a button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: 700;
}

.ghost-button {
    display: flex;
    font-size: 16px;
    padding: 12px 18px;
    text-decoration: none;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.orange {
    color: #fa6616;
    border: 1px solid #fa6616;
    padding: 13px 18px;
}

.input-container {
    display: flex;
    width: 260px;
    background-color: #f3f3f3;
    padding: 1px 1px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.search-extend {
    display: none;
}

input {
    display: flex;
    width: 80%;
    padding: 11px 8px;
    background-color: inherit;
    border: none;
    outline: none;
}

.clear-button {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    outline: none;
}

.orange-text {
    color: #fa6616;
}

/* under 768px */
@media screen and (max-width: 768px) {
    input,
    .ghost-button,
    .nav-buttons,
    .input-container,
    #trade-button,
    #location-button {
        display: none;
    }

    .logo {
        display: flex;
        margin-left: 18px;
    }

    .flex-box {
        display: flex;
    }

    .header-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    form {
        width: 100%;
    }

    .search-extend {
        margin-left: 18px;
        width: 100%;
        display: none;
        padding: 9px 8px;
        background-color: #f3f3f3;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .nav-icon-buttons {
        display: flex;
        margin-right: 18px;
    }

    .search-container,
    .hamburger-container {
        display: none;
        position: fixed;
        flex-direction: column;
        top: 66px;
        left: 0;
        width: 100%;
        height: 25%;
        background-color: #fff;
        color: #000;
        z-index: 999;
        justify-content: center;
        align-items: center;
    }

    button {
        border: none;
        background-color: inherit;
    }
}

@media screen and (min-width: 768px) {
    /* 모든 요소에 대해 display: none; 적용 */
    .search-button,
    .hamburger-button,
    .search-container,
    .hamburger-container,
    .search-extend {
        display: none !important;
    }

    .logo {
        display: flex !important;
    }
}
