nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: "Pretendard", sans-serif;
    padding: 14px 0;
}

.header-box {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 68px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-icon-buttons {
    display: none;
}

.nav-buttons a button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: 700;
}

.ghost-button {
    font-size: 16px;
    padding: 6px 18px;
    text-decoration: none;
    border: 1px solid #d7d7d7;
}

.orange {
    color: #fa6616;
    border: 1px solid #fa6616;
}

input {
    width: 219px;
    background-color: #f3f3f3;
    padding: 6px 16px;
    font-size: 16px;
    border: none;
}

.orange-text {
    color: #fa6616;
}

/* under 768px */
@media screen and (max-width: 768px) {
    input,
    .ghost-button,
    .nav-buttons,
    #trade-button,
    #location-button {
        display: none; /* 모든 네비게이션 항목 숨기기 */
    }

    .logo {
        display: flex;
        margin-left: 18px;
    }

    .flex-box {
        display: flex;
    }

    .header-box {
        display: flex;
        justify-content: space-between;
    }

    .nav-icon-buttons {
        display: flex;
        margin-right: 18px;
    }

    button {
        border: none;
        background-color: inherit;
    }
}
