body{
    background-color: #f8f9fa;
}

.profile-img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: #d9d9d9;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

.post-box{
    background-color: #fff;
    padding: 56px;
    border: 1px solid #dedede;
    margin: 48px 0 0 0 ;

}

.post-box img{
    width: 100%;
    height: 380px;
    object-fit: contain;
    background-color: #dedede;
    border-radius: 12px;
}

.info-button-box{
    margin: 28px 0;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-info p{
    opacity: 0.5;
}

.button-box{
    gap: 8px;
}

.button-box .grey  {
    background-color: #dedede;
    color: #000;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

.button-box .orange {
    background-color: #fa6616;
    color: #fff;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

button:hover{
    opacity: 0.8;
}

hr{
    opacity: 0.5;
}


.post-info-box{
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0;
    gap: 16px;
}

.location-views-box{
    opacity: 0.5;
    margin-top: 40px;
}

.delete-button-box {
    display: flex;
    justify-content: flex-end;
}

.delete-button-box button {
    background-color: #ff3d3d;
    color: #fff;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete-button-box button:hover {
    opacity: 0.8;
}

.like-button {
    display: inline-block;
    vertical-align: middle; /* 조회수와 수직 정렬 */
    margin-right: 10px; /* 아이콘과 조회수 사이의 간격 조절 */
    cursor: pointer; /* 포인터 형태로 마우스 커서 변경 */
    transition: fill 0.2s; /* 색상 변경에 애니메이션 효과 추가 */
}

.like-button svg {
    fill: gray; /* 아이콘 색상 설정 */
    width: 1.5em; /* 아이콘 크기 설정 */
}

.like-button.liked svg {
    fill: orange; /* 클릭 시 아이콘 색상 변경 */
}

/* 버튼에 호버 효과 추가 */
.like-button:hover {
    opacity: 0.8;
}


