{% load static %}

<nav>
    <div class="container">
        <div class="full-box flex-box between">
            <div class="header-box">
                <div class="logo">
                    <a href="{% url 'main' %}">
                        <img src="{% static 'img/logo.png' %}" alt="" />
                    </a>
                </div>
                <form method="GET" action="{% url 'search' %}">
                    <input type="text" id="searchExtend" name="search-extend" class="search-extend" placeholder="물품이나 동네를 검색해보세요" />
                </form>

                {% comment %} 반응형 헤더 {% endcomment %}

                <div class="nav-icon-buttons">
                    <button class="search-button" alt="search-button"><img src="{% static "img\search_button.svg" %}" alt="search_button"></button>
                    <div id="searchContainer" class="search-container">
                        <h1 class="recent-word">최근 검색어</h1>
                        <ul>
                            <li>검색어1</li>
                            <li>검색어2</li>
                            <li>검색어3</li>
                            <li>검색어4</li>
                            <li>검색어5</li>
                            <li>검색어6</li>
                        </ul>
                    </div>
                    <button class="hamburger-button" alt="hamburger-button"><img src="{% static "img\hamburger_button.svg" %}" alt="hamburger_button"></button>
                    <div id="hamburgerContainer" class="hamburger-container">
                        <a>중고거래</a>
                        <a>동네인증</a>
                        <a>채팅하기</a>
                        <a>로그아웃</a>
                    </div>
                    <div class="modal-background"></div>
                </div>

                {% comment %} 반응형 헤더 {% endcomment %}

                <div class="nav-buttons">
                    <a href="/trade">
                        <button id="trade-button">중고거래</button>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="/location">
                        <button id="location-button">동네인증</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="flex-box gap8">
                <form method="GET" action="{% url 'search' %}">
                    <div class="input-container">
                        <input type="text" id="search" name="search" class="search" placeholder="물품이나 동네를 검색해보세요" />
                        <button class="clear-button"><img src="{% static "img\clear_button.svg" %}" alt="clear_button"></button>
                    </div>
                </form>
                {% if user.is_authenticated %}
                <a href="{% url 'chat' %}" class="ghost-button orange">채팅하기</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="ghost-button">로그아웃</button>
                </form>

                {% else %}
                <a href="{% url 'login' %}" class="ghost-button" style="color: #1e1e1e">로그인</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/nav.js' %}"></script>
</nav>
