{% load static %} {% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
        <title>중고거래 상세보기</title>
    </head>

    <body>
        {% include 'carrot_app/nav.html' %}
        <div class="content-box">
            <div class="container column">
                <div class="post-box" data-post-id="{{ post.id }}">
                    {% block content %} {% if post.images %}
                    <img src="{{ post.images.url }}" alt="{{ post.title }}" class="block-box" />
                    {% else %}
                    <img src="{% static 'img/dangun.png' %}" alt="Default Image" class="block-box" />
                    {% endif %}
                    <div class="flex-box between info-button-box">
                        <div class="user-info">
                            <h6>{{ post.user }}</h6>
                            <p>{{ post.location }}</p>
                        </div>
                        {% if request.user.username == post.user.username %}
                        <div class="flex-box button-box">
                            <a href="{% url 'carrot_app:edit' post.id %}">
                                <button class="grey">수정하기</button>
                            </a>
                            <div class="delete-button-box">
                                <form action="{% url 'carrot_app:delete_post' post.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="grey">삭제하기</button>
                                </form>
                            </div>
                            <a href="{% url 'carrot_app:get_latest_chat' pk=post.pk %}">
                                <button class="orange">채팅보기</button>
                            </a>
                        </div>
                        {% else %}
                        <div class="button-box">
                            {% if chat_room %}
                            <a href="{% url 'carrot_app:chat_room' chat_room.pk %}">
                                <button class="orange">채팅하기</button>
                            </a>
                            {% else %}
                            <a href="{% url 'carrot_app:create_or_join_chat' pk=post.pk %}">
                                <button class="orange">채팅하기</button>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <hr class="line" />
                    <div class="post-info-box">
                        <div class="flex-box between">
                            <h3>{{ post.title }}</h3>
                            <h3>{{ post.price |intcomma}} 원</h3>
                        </div>
                        <p>{{ post.description }}</p>
                        <div class="location-views-box flex-box between">
                            <p>희망 거래장소 | {{ post.location }}</p>
                            <p>조회수 {{ post.view_num }}</p>
                        </div>
                        <!-- 좋아요(하트) 아이콘 -->
                        <div class="like-button" id="like-button-{{ post.id }}" data-post-id="{{ post.id }} style:cursor:pointer;" data-initial-like-state="{{ is_liked_by_user }}">
                            <svg id="heart-icon-{{ post.id }}" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                                <path
                                    d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 389.5 22.9C459.1 8.5 512 68.4 512 138v3.3c0 41.9-17.4 81.9-48.1 110.3L289.6 465.9c-7.8 7.1-18.6 10.7-29.5 10.7c-10.9 0-21.7-3.6-29.5-10.7zM31.6 195.4v-2.5c0-58.8 47.9-106.7 106.7-106.7c30.6 0 58.8 12.7 80.3 34.9L256 226.9l47.4-46.3c21.5-22.3 49.7-34.9 80.3-34.9c58.8 0 106.7 47.9 106.7 106.7v2.5L291 363.3L31.6 195.4z"
                                ></path>
                            </svg>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'carrot_app/footer.html' %}
    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 좋아요 상태 가져오기
            function getLikeState(postId) {
                const likeState = localStorage.getItem(`likeState-${postId}`);
                return likeState === "true";
            }

            // 초기 좋아요 상태 설정
            function setInitialLikeState(postId) {
                const likeButton = document.getElementById(`like-button-${postId}`);
                const likeIcon = document.getElementById(`heart-icon-${postId}`);
                const initialLikeState = likeButton.getAttribute("data-initial-like-state") === "true";

                likeButton.classList.toggle("liked", initialLikeState);
                likeIcon.style.fill = initialLikeState ? "orange" : "gray";
            }

            // 좋아요 상태 토글 함수
            function toggleLike(event) {
                const postElement = event.currentTarget.closest(".post-box");
                if (!postElement) {
                    return;
                }

                const postId = postElement.getAttribute("data-post-id");
                const likeButton = postElement.querySelector(".like-button");
                const likeIcon = likeButton.querySelector("svg");
                const currentLikeState = getLikeState(postId);
                const newLikeState = !currentLikeState;

                likeButton.classList.toggle("liked", newLikeState);
                likeIcon.style.fill = newLikeState ? "orange" : "gray";

                // 서버에 좋아요 상태 업데이트 요청 보내기 (AJAX)
                fetch(`/update-like-state/${postId}/${newLikeState}/`)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        // 서버에서 업데이트된 좋아요 상태를 확인하거나 처리
                        console.log(data.message);
                    })
                    .catch((error) => {
                        console.error("There was a problem with the fetch operation:", error);
                    });

                // 변경된 좋아요 상태를 로컬 스토리지에 저장
                localStorage.setItem(`likeState-${postId}`, newLikeState);
            }

            // 좋아요 버튼들에 이벤트 리스너 등록
            const likeButtons = document.querySelectorAll(".like-button");
            likeButtons.forEach((likeButton) => {
                likeButton.addEventListener("click", toggleLike);
                setInitialLikeState(likeButton.getAttribute("data-post-id"));
            });

            // 페이지 로드 시 좋아요 상태 초기화
            const postBoxes = document.querySelectorAll(".post-box");
            postBoxes.forEach((postBox) => {
                const postId = postBox.getAttribute("data-post-id");
                setInitialLikeState(postId);
            });
        });
    </script>
</html>
