{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <title>중고거래 상세보기</title>
</head>

<body>
    {% include 'carrot_app/nav.html' %}
    <div class="content-box">
        <div class="container column">
            <div class="post-box">
                {% block content %}
                {% if post.images %}
                <img src="{{ post.images.url }}" alt="{{ post.title }}" class="block-box">
            {% else %}
                <img src="{% static 'img/dangun.png' %}" alt="Default Image" class="block-box">
            {% endif %}
            <div class="flex-box between info-button-box">
              <div class="user-info">
                <h6>{{ post.user }}</h6>
                <p>{{ post.location }}</p>
              </div>
              {% if request.user.username == post.user.username %}
                <div class="flex-box button-box">
                  <a href="{% url 'carrot_app:edit' post.id %}">
                    <button class="grey">수정하기</button>
                  </a>
                  <div class="delete-button-box">
                    <form action="{% url 'carrot_app:delete_post' post.pk %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="grey">삭제하기</button>
                    </form>
                  </div>
                  <a href="{% url 'carrot_app:get_latest_chat' pk=post.pk %}">
                    <button class="orange">채팅보기</button>
                  </a>
                </div>
              {% else %}
                <div class="button-box">
                  {% if chat_room %}
                    <a href="{% url 'carrot_app:chat_room' chat_room.pk %}">
                      <button class="orange">채팅하기</button>
                    </a>
                  {% else %}
                    <a href="{% url 'carrot_app:create_or_join_chat' pk=post.pk %}">
                      <button class="orange">채팅하기</button>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            <hr class="line">
            <div class="post-info-box">
              <div class="flex-box between">
                <h3>{{ post.title }}</h3>
                <h3>{{ post.price |intcomma}}
                  원</h3>
              </div>
              <p>{{ post.description }}</p>
              <div class="location-views-box flex-box between">
                <p>희망 거래장소 |
                  {{ post.location }}</p>
                <p>조회수
                  {{ post.view_num }}</p>
              </div>
              <!-- 좋아요(하트) 아이콘 -->
              <div class="like-button" id="like-button">
                <svg id="heart-icon" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                    <path
                        d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v-3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" />
                </svg>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'carrot_app/footer.html' %}
</body>

<script>
  // 로컬 스토리지에서 좋아요 버튼의 상태를 가져오는 함수
  function getLikeState() {
      // 로컬 스토리지에 저장된 상태가 없는 경우, 기본적으로 비활성화(false)로 설정
      const likeState = localStorage.getItem('likeState');
      return likeState === 'true'; // 'true'인 경우 좋아요 상태, 그 외는 아님
  }

  // 초기 페이지 로드 시 좋아요 버튼의 상태를 설정
  function setInitialLikeState() {
      const currentLikeState = getLikeState();
      const likeButton = document.getElementById('like-button');
      const likeIcon = document.getElementById('heart-icon');

      likeButton.classList.toggle('liked', currentLikeState);
      likeIcon.style.fill = currentLikeState ? 'orange' : 'gray';
  }

  // 좋아요(하트) 버튼을 클릭할 때 실행될 함수
  function toggleLike() {
      const likeButton = document.getElementById('like-button');
      const likeIcon = document.getElementById('heart-icon');

      const currentLikeState = getLikeState();
      const newLikeState = !currentLikeState; // 현재 상태의 반대로 변경

      // 'liked' 클래스를 토글하고 아이콘의 색상 변경
      likeButton.classList.toggle('liked', newLikeState);
      likeIcon.style.fill = newLikeState ? 'orange' : 'gray';

      // 변경된 상태를 로컬 스토리지에 저장
      localStorage.setItem('likeState', newLikeState);
  }

  // 페이지 로드 시 초기 좋아요 버튼 상태 설정
  window.addEventListener('load', setInitialLikeState);

  // 좋아요(하트) 버튼 클릭 이벤트 리스너 등록
  document.getElementById('like-button').addEventListener('click', toggleLike);
</script>

</html>
