{% load custom_filter%}
{% load static %}{% load humanize %}
<!DOCTYPE html>
<html>

  <head>
    <title>관심목록</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  </head>

  <body>
    {% include 'carrot_app/nav.html' %}
    {% block content %}
    <h1>관심 목록</h1>
    {% if wishlist_posts %}
      <ul>
        {% for post in wishlist_posts %}
          <li>
            <a href="{% url 'carrot_app:trade_post' post.id %}">{{ post.title }}</a>
            <!-- 원하는 게시물 정보 표시 -->
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>관심 목록에 아무 항목도 없습니다.</p>
    {% endif %}
  {% endblock %}
  {% include 'carrot_app/footer.html' %}

</body>
<script src="{% static 'js/trade.js' %}"></script>
</html>
